:root {
    --yellow: #fbd647; 
    --orange: #f16550; 
    --red: #cc464c;
    --blue: #194668; 
    --brown: #c58048; 
    --black: #221f20; 
}
  
body {
    font-family: 'Poppins';
    letter-spacing: .025em;
}
body.offcanvas-active {
    overflow: hidden;
}



a, a:hover{
    text-decoration: none;
}

.text-underline{
    text-decoration: underline;
} 

.opacity-5{
    opacity: 0.5;
}


/* ----- Font Size -------- */

h1 {
    font-weight: 600;
    font-size: 30px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}
h3 {
    font-size: 20px;
    font-weight: 600;
}
h5 {
    font-weight: 700;
    font-size: 16px;
}

p{
    font-size: 16px;
}

.font-size-12{
    font-size: 12px;
}
.font-size-13{
    font-size: 13px;
}
.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}
 
.font-size-22{
    font-size: 22px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-30{
    font-size: 45px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-45{
    font-size: 45px;
}

.font-style-italic{
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
}
  
th, td {
    font-size: 14px;
    font-weight: 500; 
}
 
/* ------ spacing --------- */

.section-pt-10{
    padding-top: 10px;
}
.section-pb-10{
    padding-bottom: 10px;
}
.section-pt-25{
    padding-top: 25px;
}
.section-pb-25{
    padding-bottom: 25px;
}
.section-pt-30{
    padding-top: 30px;
}
.section-pb-30{
    padding-bottom: 30px;
}
.section-pt-50{
    padding-top: 50px;
}
.section-pb-50{
    padding-bottom: 50px;
} 
.section-pt-60{
    padding-top: 60px;
} 
.section-pb-60{
    padding-bottom: 60px;
} 
.section-pt-80{
    padding-top: 80px;
} 
.section-pb-80{
    padding-bottom: 80px;
} 
.section-pt-100{
    padding-top: 100px;
} 
.section-pb-100{
    padding-bottom: 100px;
}


/* color */

/* ------ Text Color ----- */
.text-yellow{
    color: var(--yellow)
}
.text-orange{
    color: var(--orange)
}
.text-red{
    color: var(--red)
}
.text-blue{
    color: var(--blue)
}
.text-yellow{
    color: var(--yellow)
}
.text-white{
    color: var(--white)
}
.text-black{
    color: var(--black)
}

.text-grey {
    color: #999 !important;
}
.text-grey1 {
    color: #666 !important;
}
 

/* ------ Background Color ----- */
.bg-yellow{
    background-color: var(--yellow)
}
.bg-orange{
    background-color: var(--orange)
}
.bg-red{
    background-color: var(--red)
}
.bg-blue{
    background-color: var(--blue)
}
.bg-yellow{
    background-color: var(--yellow)
}
.bg-white{
    background-color: var(--white)
}
.bg-black{
    background-color: var(--black)
}
.bg-grey{
    background-color: var(--grey)
}

.bg-lightgrey{
    background: #00000008;
}

/* Button style */  
.btn-blue {
    background: #194668;
    color: white;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 14px;
}
.btn-blue:hover{
    box-shadow: 0 0 4px 2px #19466870;
}
/* Button style */


/* slick slider */
.slider .slick-dots li button:before{
    color: var(--blue);
    font-size: 10px;
}

.slider .slick-dots li.slick-active button:before{
    opacity: 1;
}


/* card-box */
h5.small {
    color: #626161 !important;
    font-size: 12px !important;
}
.card-box {  
    margin: 15px;
}
.card-box img { 
    width: 100%;
    height: 246px;
    object-fit: cover;
    border-radius: 10px;
}
.card-box figure {
    margin: 0px;
}
.card-box figcaption {
    padding: 15px 0 0; 
    display: flex;
    justify-content: space-between;
}
.card-box h5 {
    color: #194668;
    font-weight: 500;
    font-size: 17px;
}
/* card-box */

/* img-card-layout */
figure.img-card-layout {
    margin-bottom: 0px;
    position: relative;
}
figure.img-card-layout img {
    border-radius: 15px;
    z-index: 1;
    position: relative;
}
.img-card-layout i {
    font-size: 50px;
    color: white;
    background: rgba(255, 255, 255 ,0.25);
    border: 1px solid rgba(255, 255, 255 ,0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: absolute;
    right: 0; 
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
    z-index: 3;
}

figure.img-card-layout .overlay-card {
    background: #dbcdc0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 15px; 
}

/* icon-b */
.icon-box {
    background: #f1f4f5;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
}
.icon-box img {
    width: 25px;
    transition: 0.5s;
}

.card-box-1:hover .icon-box img {
    filter: brightness(0) invert(1); 
}
.card-box-1:hover .icon-box {
    background: var(--blue);
}

/* Card Box 1 */

.card-box-1 {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.card-box-1:hover{
    box-shadow: 0 0 16px 4px #00000026;
    border: 1px solid transparent;
    margin-top: -10px;
}

/* about-us-content */
.about-us-content{
    padding: 15px 30px;
}
/* about-us-content */

/* icon-wrapper */
.icon-wrapper {
    display: flex;
    align-items: center;
    margin-block: 30px;
}

.icon-wrapper .icon-content {
    width: calc(100% - 50px);
    margin-inline: 30px;
}

/* top-icon-wrapper */
.top-icon-wrapper {
    position: relative;
    height: 250px;
    margin-block: 40px;
    border-radius: 15px;
    background-image: url('../image/h6.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 100% 20%;
    background-color: var(--blue);
}

.top-icon-wrapper figure.img-card-layout {
    margin-bottom: 0px;
    position: relative;
}

.top-icon-wrapper i {
    color: white;
    left: 90px;
    width: 80px;
    border-radius: 15px;
    top: -30px;
    background: rgba(255, 255, 255 ,0.25);
    border: 1px solid rgba(255, 255, 255 ,0.18);
    box-shadow: 0 -2px 4px 2px #0000001c;
}
.top-icon-wrapper figure.img-card-layout img {
    border-radius: 15px;
    z-index: 9999;
    top: -30px;
    position: absolute;
    left: 40px;
    width: 50px; 
}
.top-icon-wrapper:before {
    content: '';
    background: #dbcdc0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
    z-index: -9;
    position: absolute;
    top: 10px;
    left: 10px;
}
.top-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5rem;
    width: 70%;
}
/* top-icon-wrapper */

/* haikai-image-1 */
    .haikai-image-1{
        background: url('../image/haikai-img-1.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

/* footer-bg */
.footer-bg{
    padding-top: 210px;
    margin-top: 10px;
    background: url('../image/footer-bg-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-bg h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 20px;
}

ul.social-icons-list {
    display: flex; 
}

ul.address-list, ul.social-icons-list {
    list-style: none;
    padding: 0;
}
ul.address-list li {
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
ul.address-list li i {
    margin-right: 7px;
} 

ul.address-list li i, ul.address-list li a, footer p, ul.social-icons-list li i {
    color: #fff;
    transition: 0.5s;
}
ul.social-icons-list li {
    padding-right: 15px;
}
ul.address-list li a:hover {
    color: white;
} 

/* banner-section */

.banner-section{
    background-image: url('../image/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar-dark .navbar-brand h5 {
    margin-bottom: 0px;
    font-size: 22px;
    color: #194668;
}


.offcanvas-header{ display:none; }

.navbar-dark .navbar-toggler {
    color: rgb(255 250 250);
    border-color: rgb(255 255 255 / 0%);
}

.float{
    display: none;
	position:fixed;
	width:60px;
	height:60px;
    bottom: 100px;
    right: 30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    box-shadow: 0px 0px 3px 2px #00000030;
    z-index:100;
}

a.float:hover i {
    color: #fff;
}

.my-float{
	margin-top:16px;
}

/* scroll top */
.scollbar-btn{
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99; 
    color: white;
    border: none;
    transition: 0.5s;
}

a.scollbar-btn:hover {
    bottom: 30px;
}

/* btn-close */

.btn-close{
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff00;
    padding: 8px;
    font-size: 30px;
}

/* pulse */
  
@-webkit-keyframes animate-pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 #194668;
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes animate-pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 #194668;
      box-shadow: 0 0 0 0 #194668;
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }




/* Media Query */
@media (max-width: 575px) {  
    .top-icon-wrapper {
        background-size: 100%;
    }
    .filter-img-white-sm{
        filter: brightness(0) invert(1);
    }
    .footer-wrap {
        margin-bottom: 3rem;
    }
    .swiper-wrapper{
        height: 100vh;
    }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide { 
        height: 100vh; 
    }
    
    .navbar-nav .nav-link { 
        font-size: 14px;
        margin-left: 20px;
        margin-top: 10px;
    }


    .scollbar-btn{
        visibility: hidden;
    }
    .float { 
        width: 30px;
        height: 30px;
        bottom: 20px;
        right: 10px; 
        font-size: 20px; 
    }
    .my-float {
        font-size: 20px;
        margin-top: 0px;
    }
    .home-showcase .home-showcaseSlider .showcaseSlider-nav{
        position: absolute;
        width: 100%;
        right: 0; 
        justify-content: flex-end;  
      }
    .home-showcase .home-showcaseSlider .swiper-pagination, .home-showcase .home-showcaseSlider .showcaseSlider-nav { 
        bottom: 60px;
      }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image {
      padding: 12vw 30px;
    }
    section.primary-navbar {
        position: absolute;
        z-index: 99;
        width: 100%;
    }
    .navbar { 
        padding: 0.5rem 0rem;
    }
    .navbar-dark .navbar-brand h5 { 
        font-size: 18px;
        color: #fff;
    }
    .section-pb-50 {
        padding-bottom: 20px;
    }
    .top-content { 
        padding-inline: 1rem;
        width: 100%;
        align-items: center;
    }
    .top-content h2{
        font-size: 24px;
    }
    .top-icon-wrapper:before { 
        top: 8px;
        left: 8px;
    }
    .card-box-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem; 
        border: 1px solid #dedede; 
    }
    .about-us-content {
        padding: 35px 0px 0;
    }
    .footer-bg {
        padding-top: 100px;
        margin-top: 0px;
        background-position: 7% 0%;
    }
    .top-icon-wrapper figure.img-card-layout img { 
        top: -20px; 
        left: 50px; 
    }
    .top-icon-wrapper i { 
        left: 100px;
        width: 60px; 
        top: -16px; 
        border-radius: 10px;
        font-size: 30px;
    }
    .icon-box img {
        width: 40px;
        transition: 0.5s;
    }
    .icon-box { 
        width: 80px;
        height: 80px; 
        margin-bottom: 20px;
    }
    .icon-wrapper {
        display: flex;
        align-items: center;
        margin-block: 30px;
        flex-direction: column;
        text-align: center;
    }
    /* Menu */ 
    .offcanvas-header{ display:block; }
    .offcanvas-header h5 {
        color: white;
    }
    .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #194668;
    z-index: 9;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    }

}


@media (min-width: 576px) and (max-width: 767px) {
    .top-icon-wrapper {
        background-size: 100%;
    }
     /* Menu */ 
     .filter-img-white-sm{
        filter: brightness(0) invert(1);
    }
    .navbar-nav .nav-link { 
        font-size: 14px;
        margin-left: 20px;
        margin-top: 10px;
    }


    .home-showcase .home-showcaseSlider .showcaseSlider-nav{
        position: absolute;
        width: 100%;
        right: 0; 
        justify-content: flex-end;  
      }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image  {
        padding: 12vw 30px;
      }
      .home-showcase .home-showcaseSlider .swiper-pagination, .home-showcase .home-showcaseSlider .showcaseSlider-nav { 
        bottom: 60px;
      }
    section.primary-navbar {
        position: absolute;
        z-index: 99;
        width: 100%;
    }
    .navbar{
        padding-inline: 0px !important;
    }

     .navbar-dark .navbar-brand h5 { 
        font-size: 18px;
        color: #fff;
    }
    .offcanvas-header h5 {
        color: white;
    }
     .offcanvas-header{ display:block; }
     .navbar-collapse {
     position: fixed;
     top:0; 
     bottom: 0;
     left: 100%;
     width: 100%;
     padding-right: 1rem;
     padding-left: 1rem;
     overflow-y: auto;
     visibility: hidden;
     background-color: #194668;
     z-index: 9;
     transition: visibility .2s ease-in-out, transform .2s ease-in-out;
     }
     .navbar-collapse.show {
     visibility: visible;
     transform: translateX(-100%);
     }
    .icon-wrapper {
        display: flex;
        align-items: center;
        margin-block: 30px;
        flex-direction: column;
        text-align: center;
    }
    .section-pb-50 {
        padding-bottom: 20px;
    }
    .icon-box { 
        width: 80px;
        height: 80px; 
        margin-bottom: 20px;
    }
    .icon-box img {
        width: 40px;
        transition: 0.5s;
    }
    .top-content h2{
        font-size: 24px;
    }
    .top-content { 
        padding-inline: 1rem;
        width: 100%;
        align-items: center;
    }
    .top-icon-wrapper:before { 
        top: 8px;
        left: 8px;
    }
    .card-box-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem; 
        border: 1px solid #dedede; 
    }
    .about-us-content {
        padding: 35px 0px 0;
    }
    .footer-bg {
        padding-top: 100px;
        margin-top: 0px;
        background-position: 7% 0%;
    }
    .top-icon-wrapper figure.img-card-layout img { 
        top: -20px; 
        left: 50px; 
    }
    .top-icon-wrapper i { 
        left: 100px;
        width: 60px; 
        top: -16px; 
        border-radius: 10px;
        font-size: 30px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
     /* Menu */ 
     .filter-img-white-sm{
        filter: brightness(0) invert(1);
    }
    .navbar-nav .nav-link { 
        font-size: 14px;
        margin-left: 20px;
        margin-top: 10px;
    }
 
     .home-showcase .home-showcaseSlider .showcaseSlider-nav{
        position: absolute;
        width: 100%;
        right: 0; 
        justify-content: flex-end;  
      }
    .home-showcase .home-showcaseSlider .swiper-pagination, .home-showcase .home-showcaseSlider .showcaseSlider-nav { 
        bottom: 60px;
      }
     .navbar { 
        padding: 0.5rem 0rem;
    }
    .navbar-dark .navbar-brand h5 { 
        font-size: 18px;
        color: #fff;
    }
    section.primary-navbar {
        position: absolute;
        z-index: 99;
        width: 100%;
    }
    .offcanvas-header h5 {
        color: white;
    }
     .offcanvas-header{ display:block; }
     .navbar-collapse {
     position: fixed;
     top:0; 
     bottom: 0;
     left: 100%;
     width: 100%;
     padding-right: 1rem;
     padding-left: 1rem;
     overflow-y: auto;
     visibility: hidden;
     background-color: #194668;
     z-index: 9;
     transition: visibility .2s ease-in-out, transform .2s ease-in-out;
     }
     .navbar-collapse.show {
     visibility: visible;
     transform: translateX(-100%);
     }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .bigTitle {
        font-size: 40px;
        line-height: 3rem;
    }
    .navbar-dark .navbar-brand h5{  
        color: #194668;
   }
   .navbar-dark .navbar-nav .nav-link {
        color: rgb(0 0 0);
        margin-inline: 17px;
        font-size: 14px;
  }
    section.primary-navbar {
        z-index: 99;
        width: 100%;  
        padding: 1rem 2rem;
    }
    .sub-title{
        width: 70%;
        margin: auto;
    }
    .w-lg-75{
        width: 75%;
    }
    
.navbar-nav .btn-navbar.nav-link{
    background: #194668;
    border-radius: 20px;
    padding-inline: 20px;
    font-size: 13px;
    margin-inline: 0 !important;
    color: #fff !important;
    animation: animate-pulse 5s linear infinite;
}

/* dots-img */
.dot-img-wrapper {
    position: relative;
}
.dots-img{
    background: url('../image/dots.png');
    background-repeat: repeat;
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}

}

@media (min-width: 1200px) {
    .w-lg-75{
        width: 75%;
    }
    .navbar-dark .navbar-brand h5{ 
        color: #194668;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgb(0 0 0 / 48%);
        margin-inline: 17px;
        font-size: 14px;
  }
    section.primary-navbar {
        z-index: 99;
        width: 100%; 
        padding: 1rem 2rem;
    }
.sub-title{
    width: 70%;
    margin: auto;
}
.container{
    max-width: 1200px !important;
}

.navbar-nav .btn-navbar.nav-link{
    background: #194668;
    border-radius: 20px;
    padding-inline: 20px;
    font-size: 13px;
    margin-inline: 0 !important;
    color: #fff !important;
    animation: animate-pulse 5s linear infinite;
}

/* dots-img */
.dot-img-wrapper {
    position: relative;
}
.dots-img{
    background: url('../image/dots.png');
    background-repeat: repeat;
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}

}

 