 
  .bigTitle {  
    font-size: 35px;
    line-height: 45px;
  } 
  @media (min-width: 425px) {
    .bigTitle {
      font-size: 35px;
      line-height: 45px;
    } 
  }
  @media (min-width: 1024px) {
    .bigTitle {
      font-size: 60px;
      line-height: 5rem;
    }
  }
  .bigTitle .orangeIcon {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #f7970e;
    display: inline-block;
    margin-left: 5px;
  }
  @media (min-width: 768px) {
    .bigTitle .orangeIcon {
      width: 13px;
      height: 13px;
    }
  }
  @media (min-width: 1440px) {
    .bigTitle .orangeIcon {
      width: 16px;
      height: 16px;
    }
  }
  
  .arrow-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "CabinetGrotesk-extrabold", sans-serif;
    color: #000;
    transition: padding 1s cubic-bezier(0.16, 1, 0.3, 1);
    width: fit-content;
    font-size: 12px;
  }
  .arrow-button svg {
    width: 33px;
    margin-left: 10px;
  }
  .arrow-button svg circle {
    transition: fill 0.75s ease;
    fill: transparent;
  }
  @media (min-width: 425px) {
    .arrow-button {
      font-size: 16px;
    }
    .arrow-button svg {
      width: 45px;
    }
  }
  @media (min-width: 1024px) {
    .arrow-button {
      font-size: 20px;
    }
    .arrow-button svg {
      width: 62px;
    }
    .arrow-button:hover {
      padding-left: 20px;
    }
    .arrow-button:hover svg circle {
      fill: #8c97d0;
    }
  }
  @media (min-width: 1440px) {
    .arrow-button {
      font-size: 15px;
    }
    .arrow-button svg {
      width: 60px;
    }
  }
  @media (min-width: 1920px) {
    .arrow-button {
      font-size: 18px;
    }
    .arrow-button svg {
      width: 70px;
    }
  }
  
  .home-showcase {
    padding: 0 var(--columnExt) 0;
    position: relative;
    margin: 0;
  }
  .home-showcase .home-showcaseSlider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide {
    position: relative;
    height: 72vh;
    overflow: hidden;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image {
    padding: 12vw;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container {
    max-width: 100%;
    margin: 0 0 5rem;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .bigTitle {
    transform: translate(-140%, 0);
    transition: transform 1.15s cubic-bezier(0.58, 0, 0.28, 0.99) 0.4s;
    color: #fff;
    margin: 0 0 2.5rem;
    text-shadow: #21212121 0px 0px 5px;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .container-arrow-button {
    transform: translate(-160%, 0);
    transition: transform 0.6s cubic-bezier(0.58, 0, 0.28, 0.99) 1s;
    width: fit-content;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .container-arrow-button .arrow-button {
    color: #fff;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .container-arrow-button svg path {
    fill: #fff;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .container-arrow-button svg circle {
    stroke: #fff;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .container-arrow-button:hover svg circle {
    stroke: #8c97d0;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .filter {
    width: 100%;
    height: 100%;
    background-color: #10112b;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    transition: opacity 0.8s ease-in 0.5s;
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide-active .swiper-image .text-container .bigTitle, .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide-active .swiper-image .text-container .container-arrow-button {
    transform: translate(0, 0);
  }
  .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide-active .swiper-image .filter {
    opacity: 0;
  }
  .home-showcase .home-showcaseSlider .swiper-pagination {
    position: relative;
    bottom: 0;
    left: 0;
    width: fit-content;
    padding: 3.5% 0;
  }
  .home-showcase .home-showcaseSlider .swiper-pagination-bullet {
    width: 4vw;
    border-radius: 50px;
    height: 2px;
    background-color: #8f9397;
    opacity: 1;
    transition: width 0.8s ease-in-out, 0.4s ease-in-out;
    margin: 0 4px !important;
  }
  .home-showcase .home-showcaseSlider .swiper-pagination-bullet-active {
    background-color: #f7970e;
    width: 8vw;
  }
  .home-showcase .home-showcaseSlider .showcaseSlider-nav {
    display: flex;
    flex-direction: row;
    padding: 0 0 3.5% 5%;
    padding-right: 0;
  }
  .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-prev, .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-next {
    position: static;
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    margin: 0 2vw;
    width: 20px;
    height: auto;
  }
  .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-prev.swiper-button-disabled, .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-next.swiper-button-disabled {
    opacity: 1;
  }
  .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-prev.swiper-button-disabled:after, .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-next.swiper-button-disabled:after {
    color: #8f9397;
  }
  .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-prev::after, .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-next::after {
    font-size: 4vw;
    color: #f7970e;
  }
  .home-showcase .home-showcaseSlider #macaron {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 5%;
    width: 30%;
  }
  .home-showcase .home-showcaseSlider #macaron #text-circle {
    animation: rotate-360 12s linear 0s infinite reverse forwards;
    transform-origin: center;
  }
  .home-showcase .scrollSliderButton {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
    color: #fff !important;
    text-decoration: none;
    font-size: 3.5vw;
    height: 21vw;
    font-family: "CabinetGrotesk-light", sans-serif;
  }
  .home-showcase .scrollSliderButton .line {
    height: 15vw;
    width: 1px;
    background: #8c97d0;
    margin-top: 5px;
    animation: scroll-anim-mobile 1.6s cubic-bezier(0.62, 0.01, 0.71, 0.47) 0s infinite normal forwards;
  }
  @media (min-width: 1024px) {
    .home-showcase {
      margin: 0 60px;
    }
    .home-showcase .home-showcaseSlider {
      display: block;
    }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide {
      height: clamp(45rem, 75vh, 5000px);
    }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image {
      align-items: center;
    }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container {
      max-width: 75%;
      margin: 0;
    }
    .home-showcase .home-showcaseSlider .swiper-wrapper .swiper-slide .swiper-image .text-container .bigTitle {
      margin: 0 0 1.25rem;
    }
    .home-showcase .home-showcaseSlider .swiper-pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 0 2.5% 5%;
    }
    .home-showcase .home-showcaseSlider .swiper-pagination-bullet {
      width: 1.5vw;
      height: 3px;
      margin: 0 8px !important;
    }
    .home-showcase .home-showcaseSlider .swiper-pagination-bullet-active {
      width: 3vw;
    }
    .home-showcase .home-showcaseSlider .showcaseSlider-nav {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 0 5% 2.5% 5%;
    }
    .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-prev, .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-next {
      margin: 0 0.6vw;
    }
    .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-prev::after, .home-showcase .home-showcaseSlider .showcaseSlider-nav .showcaseSlider-next::after {
      font-size: 1vw;
    }
    .home-showcase .home-showcaseSlider #macaron {
      width: fit-content;
      width: 8.4vw;
    }
    .home-showcase .scrollSliderButton {
      position: absolute;
      left: 50%;
      bottom: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translate(-50%, 40%);
      color: #fff !important;
      text-decoration: none;
      font-size: 0.9vw;
      height: 4.8vw;
      font-family: "CabinetGrotesk-light", sans-serif;
    }
    .home-showcase .scrollSliderButton .line {
      height: 4.8vw;
      width: 2px;
      background: #8c97d0;
      margin-top: 5px;
      animation: scroll-anim 1.6s cubic-bezier(0.62, 0.01, 0.71, 0.47) 0s infinite normal forwards;
    }
  }